#left{
    display:inline-block;
    float:left;
    width: 35%;
}

#right{
    display:inline-block;
    float:right;
    width: 65%;
}

#bg2 {
    z-index: -10;
    opacity: 0.5;
}

#bg {
    z-index: -10;
    opacity: 0.5;
}


g{
    z-index: 10;
}