#left{
    float:left;
    width: 50%;
    flex-direction: column;
    overflow: hidden;
    outline: 1px solid black;
    height: 100%;

}

#right{
    position: relative;
    float:right;
    width: 50%;
    height: 100%;
    overflow: hidden;
    outline: 1px solid black;
}

#countriesStrDiv{
    height: 5%;
    background-color: #6fa8dc;
    outline: 1px solid black;
  }
  
#countriesStr{
    position: relative;
    top: 2px !important;
    margin: 0px !important;
    padding: 0px !important;
}  

.l{
    float: left;
    width: 50%;

}
.r{
    float: right;
    width: 50%;

}

rect:hover{
    box-shadow: 0 0 20px yellow;
}

rect{
    background-color:#ccc;
    box-shadow: 0 0 20px yellow;
}

#top{
    width: 100%;
    height: 75%;
    clear: both;
    position: relative;
}

#bottom{
    width: 100%;
    height: 25%;
    clear: both;
}

#barcanvas{
    position: absolute;
    top: 75%;
    bottom:0 !important;
}

.panel{
    height:33%;
}

#bg2 {
    z-index: -10;
    opacity: 0.5;
}

#bg {
    z-index: -10;
    opacity: 0.5;
}


g{
    z-index: 10;
    width: 100%;
    height: 100%;
}

html, body{
    overflow-y: hidden;
    height:100%;
}


#root{
    height: 100%
}

.App{
    height: 100%
}


#geochart{
    display:flex;
}

#bcopts{
    margin: 5px;

}

#countriesStrDiv2{
    position:absolute;
    width: 400px;
    height: 100px;
    top: 10%;
    left: 80%;
    background-color: rgba(255,255,255,0.5);
    border: 1px solid black;
}

#countriesStrDiv3{
    position:absolute;
    width: 400px;
    height: 100px;
    top: 60%;
    left: 70%;
    background-color: rgba(255,255,255,0.5);
    border: 1px solid black;
}

#sortingOptions{
    margin-top: 10px;
}

#menupanel{
    position:absolute;
    width: 400px;
    height: 10%;
    bottom: 22.5%;
    left: 80%;
    background-color: rgba(255, 255, 255, 0.711);
    border: 1px solid black;
}

.ylabels {
    font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    filter: brightness(100%);
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-size: 16px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004) !important;
    opacity: 0.7;
    text-align: left;
}


.dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    margin-top: 5%;
    margin-right: 10px;
  }

  #dotlegend{
      position: absolute;
      width: 150px;
      height: 70px;
      top: 50%;
      right: 90%;
      border: 1px solid black;
      background-color: rgba(255, 255, 255, 0.4);
  }

  #advanceddot{
      background-color: black;
  }

  #secondarydot{
    background-color: blue;
}

#primarydot{
    background-color: darkgreen;
}