#left{
    float:left;
    width: 50%;
    flex-direction: column;
    overflow-y: auto;     
}

#right{
    position: relative;
    float:right;
    width: 50%;
    height: 100%;
}

.l{
    float: left;
    width: 50%;

}
.r{
    float: right;
    width: 50%;

}

.panel{
    height:500px;
}

#bg2 {
    z-index: -10;
    opacity: 0.5;
}

#bg {
    z-index: -10;
    opacity: 0.5;
}


g{
    z-index: 10;
}

html, body{
    overflow-y: hidden;
    height:100%;
}

#left{
    overflow-y: auto;
    height: 100%
}

#root{
    height: 100%
}

.App{
    height: 100%
}


#geochart{
    display:flex;
}