#left{
    float:left;
    width: 50%;
    flex-direction: column;
    overflow-y: auto;     
}

#right{
    position: relative;
    float:right;
    width: 50%;
    height: 100%;
}

.l{
    float: left;
    width: 50%;

}
.r{
    float: right;
    width: 50%;

}

.panel{
    height:500px;
}

#bg2 {
    z-index: -10;
    opacity: 0.5;
}

#bg {
    z-index: -10;
    opacity: 0.5;
}


g{
    z-index: 10;
}

html, body{
    overflow-y: hidden;
    height:100%;
}

#left{
    overflow-y: auto;
    height: 100%
}

#root{
    height: 100%
}

.App{
    height: 100%
}


#geochart{
    display:flex;
}

.ylabels {
    font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    filter: brightness(100%);
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-size: 16px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004) !important;
    opacity: 0.7;
    text-align: left;
}