#overview {
    display: flex;
}

#left {
    float: left;
    flex-direction: column;
    overflow: scroll;
}

#right {
    float: right;
    position: relative;
    overflow: auto;
}

#bgmap {
    z-index: -10;
    opacity: 0.2;
}

#bgbar {
    z-index: -10;
    opacity: 0.5;
}

/* Selects the root element of the document: <html> in the case of HTML */
#root {}

/* The <g> SVG element is a container used to group other SVG elements */
g {
    z-index: 10;
}

/*
html, body{
    overflow-y: hidden;
    height:100%;
}
*/

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 30%;
    /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

.svg-bar-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}

.svg-bar-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}
