#overview {
    display: flex;
    height: 95% !important;
}

#overview-main {
    float: left;
    flex-direction: column;
    overflow-y: scroll;
    outline: 1px solid black;
    /*padding-bottom: 5%;*/
}

/* Works on Firefox */
*::-webkit-scrollbar {
    width: 18px;
}

*::-webkit-scrollbar-track {
    /* color of the tracking area */
    background: #9dd1e8;
    padding: 2px 0;
}

*::-webkit-scrollbar-thumb {
    /* color of the scroll thumb */
    background-color: rgb(46, 179, 209);
    /* roundness of the scroll thumb */
    border: 1px solid rgba(0, 0, 0, 0.534);
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(70, 174, 205, 0.872);
}

#overview-side {
    float: right;
    position: relative;
    overflow: auto;
    pointer-events: auto;
}

.overview-panel{
    height: 220px;
}

#overview-map {
    overflow: hidden;
    pointer-events: auto;
}

#bgmap {
    z-index: -10;
    opacity: 0.2;
}

#bgbar {
    z-index: -10;
    opacity: 0.5;
}

/* The <g> SVG element is a container used to group other SVG elements */
g {
    z-index: 10;
}

/*
html, body{
    overflow-y: hidden;
    height:100%;
}
*/

.scroller {
    width: 300px;
    height: 100px;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 50%;
    padding-bottom: 30%;
    /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

.svg-bar-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}

.svg-bar-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

#xax {
    pointer-events: all;
}

button {
    flex-direction: column;
}
